
<div class="transition transition-3 is-active" data-controller="transition" data-transition-target="test"></div>
<main id="swup" class="transition-fade">
  <div class="container d-flex justify-content-center align-items-center" data-controller="title">
    <div class="about-frame d-flex justify-content-start" data-title-target="bganimate">
      <div class="about-content d-flex flex-column justify-content-start align-items-start">
        <div class="about-title" >
          <%=image_tag "about-me.png", class: 'noshow'%>
        </div>
        <div class="about-content mt-5 ms-2">
          <p>Junior Full-Stack looking for my first job as Developer!</p>
        </div>
      </div>
    </div>
  </div>
</main>
