<div class="transition transition-2 is-active" data-controller="transition" data-transition-target="test"></div>


<div class="container-contact">

<div class="around" data-controller="slide">
  <div class="d-flex align-items-center" id="slider">
    <ul data-slide-target="zone">
      <li id ="#tab1"><%= image_tag "mail.png" %></li>
      <li id="#tab2"><%= image_tag "LinkDn-White.png" %></li>
    </ul>


  </div>
      <div id="tab1" class="email">
        <a href="mailto: correia_martim@hotmail.com">Send Email</a>
      </div>
      <div id="tab2" class="linkdn">
        <a href="https://linkedin.com/in/martim-sa-correia">www.linkedin.com/in/martim-sa-correia</a>
      </div>

</div>


</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script
  src="https://code.jquery.com/ui/1.13.2/jquery-ui.min.js"
  integrity="sha256-lSjKY0/srUM9BE3dPm+c4fBo1dky2v27Gdjm2uoZaL0="
  crossorigin="anonymous"></script>
