<div class="transition transition-2 is-active" data-controller="transition" data-transition-target="test"></div>

<div class="container-contact">


  <div class="scrollable d-flex flex-column align-items-center">

    <%= image_tag "mail.png", style: 'height: 200px; width:200px;' %>

    <%= image_tag "LinkDn-White.png", style: 'height: 200px; width:200px;' %>

  </div>
</div>
