.about-frame {
  background: url("about-frame.png") no-repeat;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding: 172px 113px 10px 80px;
  width: 858px;
  height: 757px;




}.about-title img{
  width: 600px;


 }
 