body{
  background: linear-gradient(180deg, #111D2C 0%, #273C5A 100%) no-repeat center center fixed; ;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding: 0 15px 0 15px;
}
.placing{
  margin-top: 50px;
}
h1, p {
 color: white;
}
