.navbar-lewagon {
  justify-content: space-between;
  background: transparent;
  li{
    margin-right: 150px;
  }
}
.navbar-lewagon a{
  color: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}
#last{
  margin-right: 10px;
}

#home:hover{
  transition: 0.3s;
  color: #FFB700;
  text-decoration: underline;
  text-decoration-color: #FF454C;
  text-decoration-thickness: 3px;
}
#about:hover{
  transition: 0.3s;
  color: #FF454C;
  text-decoration: underline;
  text-decoration-color: #FFB700;
  text-decoration-thickness: 3px;
}
#services:hover{
  transition: 0.3s;
  color: #FF454C;
  text-decoration: underline;
  text-decoration-color: #17E8FE;
  text-decoration-thickness: 3px;
}
#contact:hover{
  transition: 0.3s;
  color: #17E8FE;
  text-decoration: underline;
  text-decoration-color: #FF454C;
  text-decoration-thickness: 3px;
}
