.personal-bg{
  background: url("under-construction.png") no-repeat center center fixed;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
  width: 1413px;
    height: 845px;
}
