.image{

  background-image: url("frame-bgg.png");
  height: 450px;
  width: 450px;
  background-size: 100%;
}
.image-bg img{
  width: 86%;
  height: auto;
  margin-top: 76px;


}
.octo{
  margin-top: 30px;
  width: 17%;
  height: auto;
}

// .image-bg{
//   background-image: url("frame-bg.png");
//   height: 350px;
//   width: 350px;
//   background-size: 100%;
// }
